<div class="home">
<div ng-include="'views/navbar.html'"></div>
<div ng-include="'views/jumbotron.html'"></div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-sm-4"><br>
            <img src="images/mnps.jpg" class="center-block img-responsive"><br>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>

        <div class="col-sm-4"><br>
            <img src="images/students.jpg" class="center-block img-responsive"><br>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>

        <div class="col-sm-4"><br>
            <img src="images/naza.jpg" class="center-block img-responsive"><br>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
    </div>

<div ng-include="'views/footer.html'"></div>

</div> <!-- /container -->
</div>